/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
 
 #include <dt-bindings/zmk/matrix_transform.h> // Put this with the other includes at the top of your overlay
 #include <physical_layouts.dtsi>

/{
    chosen {
        zmk,kscan = &default_kscan;
        zmk,matrix_transform = &default_transform;
    };

    default_kscan: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "default_kscan";
        diode-direction = "row2col";

        row-gpios = <&pro_micro 6 GPIO_ACTIVE_HIGH>,
                    <&pro_micro 7 GPIO_ACTIVE_HIGH>,
                    <&pro_micro 8 GPIO_ACTIVE_HIGH>,
                    <&pro_micro 9 GPIO_ACTIVE_HIGH>,
                    <&pro_micro 4 GPIO_ACTIVE_HIGH>,
                    <&pro_micro 5 GPIO_ACTIVE_HIGH>,
                    <&pro_micro 21 GPIO_ACTIVE_HIGH>,
                    <&pro_micro 10 GPIO_ACTIVE_HIGH>;

        col-gpios = <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&pro_micro 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    };

    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        rows = <8>;
        columns = <6>;

        map = <
                        RC(0,1)     RC(0,2)     RC(0,3)     RC(0,4)     RC(0,5)     RC(4,5)     RC(4,4)     RC(4,3)     RC(4,2)     RC(4,1) 
            RC(1,0)     RC(1,1)     RC(1,2)     RC(1,3)     RC(1,4)     RC(1,5)     RC(5,5)     RC(5,4)     RC(5,3)     RC(5,2)     RC(5,1)     RC(5,0)
            RC(2,0)     RC(2,1)     RC(2,2)     RC(2,3)     RC(2,4)     RC(2,5)     RC(6,5)     RC(6,4)     RC(6,3)     RC(6,2)     RC(6,1)     RC(6,0)
                                                            RC(3,4)     RC(3,5)     RC(7,5)     RC(7,4)
        >;
    };
};

/ {
    chosen {
        zmk,physical-layout = &physical_layout0;
        // Other chosen items
    };
};

/ {
    physical_layout0: physical_layout_0 { // First physical layout, use different naming for other layouts
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        //kscan = <default_kscan>;  Label of the kscan node, optional if all layouts use the same
        transform = <&default_transform>; // Label of the matrix transform for this layout

                keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  127   35    1000   177    85>
            , <&key_physical_attrs 100 100  250    0    1500   300    50>
            , <&key_physical_attrs 100 100  362    6    1800   412    56>
            , <&key_physical_attrs 100 100  450   59    1800   500   109>
            , <&key_physical_attrs 100 100  549  107    2100   599   157>
            , <&key_physical_attrs 100 100  783  107 (-2100)   833   157>
            , <&key_physical_attrs 100 100  883   59 (-1800)   933   109>
            , <&key_physical_attrs 100 100  971    6 (-1800)  1021    56>
            , <&key_physical_attrs 100 100 1082    0 (-1500)  1132    50>
            , <&key_physical_attrs 100 100 1206   35 (-1000)  1256    85>
            , <&key_physical_attrs 100 100   11   82     700    61   132>
            , <&key_physical_attrs 100 100  111  123    1000   161   173>
            , <&key_physical_attrs 100 100  227   86    1500   277   136>
            , <&key_physical_attrs 100 100  334   91    1800   384   141>
            , <&key_physical_attrs 100 100  422  144    1800   472   194>
            , <&key_physical_attrs 100 100  518  190    2100   568   240>
            , <&key_physical_attrs 100 100  815  190 (-2100)   865   240>
            , <&key_physical_attrs 100 100  911  144 (-1800)   961   194>
            , <&key_physical_attrs 100 100  998   91 (-1800)  1048   141>
            , <&key_physical_attrs 100 100 1106   86 (-1500)  1156   136>
            , <&key_physical_attrs 100 100 1222  123 (-1000)  1272   173>
            , <&key_physical_attrs 100 100 1322   82  (-700)  1372   132>
            , <&key_physical_attrs 100 100    0  171     700    50   221>
            , <&key_physical_attrs 100 100   96  211    1000   146   262>
            , <&key_physical_attrs 100 100  204  173    1500   254   223>
            , <&key_physical_attrs 100 100  307  176    1800   357   226>
            , <&key_physical_attrs 100 100  395  229    1800   445   279>
            , <&key_physical_attrs 100 100  485  274    2100   535   324>
            , <&key_physical_attrs 100 100  848  274 (-2100)   898   324>
            , <&key_physical_attrs 100 100  938  229 (-1800)   988   279>
            , <&key_physical_attrs 100 100 1026  176 (-1800)  1076   226>
            , <&key_physical_attrs 100 100 1129  173 (-1500)  1179   223>
            , <&key_physical_attrs 100 100 1237  211 (-1000)  1287   262>
            , <&key_physical_attrs 100 100 1333  171  (-700)  1383   221>
            , <&key_physical_attrs 100 100  469  406    2800   519   456>
            , <&key_physical_attrs 100 100  560  472    4300   610   522>
            , <&key_physical_attrs 100 100  772  472 (-4300)   822   522>
            , <&key_physical_attrs 100 100  864  406 (-2800)   914   456>
            ;
    };
};

/ {
    position_map {
        compatible = "zmk,physical-layout-position-map";

        complete;

        physical_layout0 {
            physical-layout = <&physical_layout0>;
            positions = <>;
        };
    };
};

&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 17)>,
                <NRF_PSEL(SPIM_MOSI, 0, 20)>,
                <NRF_PSEL(SPIM_MISO, 0, 25)>;
        };
    };
    spi0_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 17)>,
                <NRF_PSEL(SPIM_MOSI, 0, 20)>,
                <NRF_PSEL(SPIM_MISO, 0, 25)>;
            low-power-enable;
        };
    };
};

nice_view_spi: &spi0 {
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&pro_micro 1 GPIO_ACTIVE_HIGH>;
};

&pro_micro_i2c {
    status = "disabled";
};
